h5 {
  /* padding: 3px 3px; */
  /* color: #fff; */
  font-weight: 400;
  /* background: #79859a; */
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
}

table.params {
  margin-bottom: 30px;
}

.list-methods dt {
  margin-top: 100px;
  border-top: 2px dashed #79859a;
}

.list-methods dt:first-child {
  margin-top: 0;
  border-top: none;
}
